<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1><%= @game.loser.name %> Loses!</h1>
    <form action="/">
      <input type="submit" value="Play Again">
    </form>
  </body>
</html>
